// --- GENERAL SETTINGS ---

body {
  background-image: url("/images/body-content.jpg");
  background-repeat: repeat-y;
  background-size: 100% auto;
  font-style: normal;
  font-weight: 400;
}

a:hover, a:focus, a:visited {
  text-decoration: none;
}

h1, h2, h3, .navbar-default a {
  font-family: 'Miltonian Tattoo', cursive;
}

textarea {
  max-width: 100%;
}


// --- UTILITY ---

.adjust-margin {
  margin-top: 5px;
  margin-right: 35px;
}

.no-margin {
  margin: 0;
}

.no-styling {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.top-margin {
  margin-top: 30px;
}

.bottom-margin {
  margin-bottom: 30px;
}