<div class="landing-wrapper">

  <div class="text-center landing-page">
    <img src="/images/logo.png" alt="Hearthstone logo" class="logo">
    <p>Blizzard's Hearthstone is a very popular <strong>digital card game</strong> in the style of <strong>"Magic: The Gathering"</strong>. For each match the player selects a hero character and a deck of 30 cards. These can be choosen from a selection of over 300 cards. In battle the enemy hero has to be eliminated using the minions and spells on the cards.</p>
    <p>The high number of cards allows for a lot of <strong>cool combinations of cards</strong>. Hearthstone Comboland provides a platform to <strong>share, vote on and discuss</strong> those combinations.</p>
    <div onclick="location.href='#/all';" class="enter-button top-margin"> 
      <h1 class="no-margin headline">ENTER  COMBOLAND</h1>
    </div>

  <div class="panel quotes">
    <p>"By the power of Ragnaros, <strong>30 million players</strong> have joined us by the hearth! Thanks for pulling up a chair!"</p>
    <footer class="text-right"><cite>Official Hearthstone Twitter Account (May 2015)</cite></footer>
  </div>

  <div class="panel quotes">
    <p>"Blizzard’s first digital card game [...] now dominates the genre and earns around <strong>$20 Million monthly</strong>."</p>
    <footer class="text-right"><cite> SuperData - Digital Goods Measurement</cite></footer>
  </div>

  </div>
<div>
