<nav class="navbar navbar-default"> 
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Heathstone Comboland</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/#/">All combos</a></li>
        <li ng-show="user.isLoggedIn()"><a href="#/combos/new">Add combo</a></li>
        <li ng-hide="user.isLoggedIn()"><a href="#/login">Login/Signup</a></li>
        <li ng-show="user.isLoggedIn()"><a href="/#/" ng-click="user.logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>