<div class="alert alert-danger" role="alert" ng-if="!user.isLoggedIn()">You need to be logged in to view this page.</div>
<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sx-12" ng-if="user.isLoggedIn()">
  <div class="panel clearfix">
    <h2 class="adjust-margin"> {{ combo.current.name }}</h2>
    <h3 class="adjust-margin">Class: {{ combo.current.hero.playerClass }}</h3>
    <span ng-repeat="card in combo.current.cards">
      <img ng-src="{{card.img}}" class="small-card">
    </span>
    <p>{{combo.current.description}}</p>

    <div class="voting">
      <button ng-click="combo.rate(combo.current,1)" tooltip="You need to be logged in to vote." tooltip-placement="top" tooltip-enable="!user.isLoggedIn()" tooltip-trigger="focus" class="no-styling"><img src="/images/arrow-up.png" alt="Upvote" class="arrow"></button>
      <p class="no-margin"><strong>{{combo.current.rating}}</strong></p>
      <button ng-click="combo.rate(combo.current,-1)" tooltip="You need to be logged in to vote." tooltip-placement="top" tooltip-enable="!user.isLoggedIn()" tooltip-trigger="focus" class="no-styling"><img src="/images/arrow-down.png" alt="Downvote" class="arrow"></button>
    </div>

    <a ng-href="#/users/{{combo.current.user.id}}" class="pull-right"><i>Created by {{combo.current.user.username}}</i></a> 
  </div>
  <h2 ng-if="combo.current.comments.length">Comments</h2>
  <div class="panel clearfix" ng-repeat="comment in combo.current.comments">
    {{comment.text}}
    <a ng-href="#/users/{{comment.user.id}}" class="pull-right"><i>Comment by {{comment.user.username}}</i></a>
  </div>
    <label>Leave a comment</label>
    <textarea rows="6" ng-model="combo.newCommentText" class="form-control bottom-margin"></textarea>
  <div class="text-center">
    <button ng-click="combo.addComment(combo.current)" class="no-styling fancy-button">Submit</button>
  </div>
</div>